.Collapsible {
  background-color: white;
}

.Collapsible__contentInner {
  padding: 10px;
  border: 1px solid lightGrey;
  border-top: 0;
}

.Collapsible__trigger {
  display: block;
  font-weight: bold;
  text-decoration: none;
  color: grey;
  position: relative;
  border: 1px solid #f9f9f9;
  padding: 10px;
  background-color: #f9f9f9;
  color: white;
}

.CustomTriggerCSS {
  background-color: lightcoral;
  transition: background-color 200ms ease;
}

.CustomTriggerCSS--open {
  background-color: darkslateblue;
}

.Collapsible__custom-sibling {
  padding: 5px;
  font-size: 12px;
  background-color: #cbb700;
  color: black;
}
